.data.tags span a[href*="\=Later"]
.data.tags span a[href*="\=Winter"],
.data.tags span a[href*="\=Fall"],
.data.tags span a[href*="\=Spring"],
.data.tags span a[href*="\=Summer"]
{
	margin-left: 64px; /*tag width + 4 pixels for removed padding + 4 pixels for added margin*/
	padding-left: 4px !important; /*change padding to fix hitbox of tag*/
}

.data.tags span a[href*="\=Later"]:before,
.data.tags span a[href*="\=Winter"]:before,
.data.tags span a[href*="\=Fall"]:before,
.data.tags span a[href*="\=Spring"]:before,
.data.tags span a[href*="\=Summer"]:before {
	content: "Season";
	width: 56px;
	margin-left: -60px; /*tag width + 4 pixels for margin*/
}

.data.tags span a[href*="\=Light Novel"]:before,
.data.tags span a[href*="\=Manga"]:before,
.data.tags span a[href*="\=Original"]:before,
.data.tags span a[href*="\=Other"]:before
{
	content: "Source";
	width: 56px;
	margin-left: -60px; /*tag width + 4 pixels for margin*/
}
